<%# 診断画面 %>
<div id="shindan_wrap" style="background-color: #CCFFCC">
  <div id="question">
    あなたはインドア派？アウトドア派？
  </div>

  <ul class="answer_box">
    <li class="ans0001" id="answer_left">
      <div class="img" id="img01">
        <%= image_tag "img_0001_house.png", class:"image"%>
      </div>
      <div class="txtbox" id="txtbox01">
        <p id="txt01_1">やっぱりお家が１番</p>
        <p id="txt01_2">インドア派</p>
      </div>
    </li>
    <li class="ans0002" id="answer_right">
      <div class="img" id="img02">
        <%= image_tag "img_0002_sougen.png", class:"image"%>
      </div>
      <div class="txtbox" id="txtbox01">
        <p id="txt02_1">外がサイコー！</p>
        <p id="txt02_2">アウトドア派</p>
      </div>
    </li>
  </ul>
</div>

<%# 結果画面 %>
<div id="kekka_wrap">
  <%# 結果07 %>
  <div id="ans07" class="kekka07" style="background-color: #f5d784">
    <div class="kekkabox">
      <div class="kekka_ttl">
        <div id="kekka">
          <span id="kekka_ossm">おすすめの趣味は…</span>
          <span id="kekka_hobby">楽器</span>
        </div>
      </div>
      <div class="kekka_inq">
        オススメの楽器はこちら！
      </div>
      
      <ul class="kekka_listbox">
        <li class="kekka_list">
          <%= image_tag "img_0701_guitar.png", class:"kekka_img"%>
          <div class="kekka_text">
            アコースティックギターを初めてみませんか？<br>
            まずは簡単な曲から練習！<br>
            自分の好きな曲を弾けるようになりましょう！
          </div>
        </li>
        <li class="kekka_list">
          <%= image_tag "img_0702_piano.png", class:"kekka_img"%>
          <div class="kekka_text">
            電子ピアノもおすすめです！<br>
            アコギはちょっと違う、手入れが面倒な人はこっち！<br>
            最終目標はストリートピアノ演奏？
          </div>
        </li>
      </ul>
    </div>
  </div>
  <%# 結果08 %>
  <div id="ans07" class="kekka07" style="background-color: #d2f9fa">
    <div class="kekkabox">
      <div class="kekka_ttl">
        <div id="kekka">
          <span id="kekka_ossm">おすすめの趣味は…</span>
          <span id="kekka_hobby">ゲーム</span>
        </div>
      </div>
      <div class="kekka_inq">
        オススメのゲームジャンルはこちら！
      </div>
      
      <ul class="kekka_listbox">
        <li class="kekka_list">
          <%= image_tag "img_0801_boardgame.png", class:"kekka_img"%>
          <div class="kekka_text">
            仲間を集めてボードゲームおすすめです！<br>
            簡単で盛り上がるものや<br>
            深い戦術や熱い読み合いができるも多種多様です！
          </div>
        </li>
        <li class="kekka_list">
          <%= image_tag "img_0802_videogame.png", class:"kekka_img"%>
          <div class="kekka_text">
            TVゲームもおすすめです！<br>
            マイペースで遊ぶことができます！<br>
            仲間と協力して遊ぶものも全然アリ！
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>