<%# 診断画面 %>
<div id="shindan_wrap" style="background-color: #CCFFCC">
  <div id="question">
    あなたはインドア派？アウトドア派？
  </div>

  <ul class="answer_box">
    <li class="ans0001" id="answer_left">
      <div class="img" id="img01">
        <%= image_tag "img_0001_house.png", class:"image"%>
      </div>
      <div class="txtbox" id="txtbox01">
        <p id="txt01_1">やっぱりお家が１番</p>
        <p id="txt01_2">インドア派</p>
      </div>
    </li>
    <li class="ans0002" id="answer_right">
      <div class="img" id="img02">
        <%= image_tag "img_0002_sougen.png", class:"image"%>
      </div>
      <div class="txtbox" id="txtbox01">
        <p id="txt02_1">外がサイコー！</p>
        <p id="txt02_2">アウトドア派</p>
      </div>
    </li>
  </ul>
</div>

<%# 結果画面 %>
<div id="kekka_wrap">
  <%# 結果07 %>
  <div id="ans07" class="kekka07" style="background-color: #f5d784">
    <div class="kekkabox">
      <div class="kekka_ttl">
        <div id="kekka">
          <span id="kekka_ossm">おすすめの趣味は…</span>
          <span id="kekka_hobby">楽器</span>
        </div>
      </div>
      <div class="kekka_inq">
        オススメの楽器はこちら！
      </div>
      
      <ul class="kekka_listbox">
        <li class="kekka_list">
          <%= image_tag "img_0701_guitar.png", class:"kekka_img"%>
          <div class="kekka_text">
            アコースティックギターを初めてみませんか？<br>
            まずは簡単な曲から練習！<br>
            自分の好きな曲を弾けるようになりましょう！
          </div>
        </li>
        <li class="kekka_list">
          <%= image_tag "img_0702_piano.png", class:"kekka_img"%>
          <div class="kekka_text">
            電子ピアノもおすすめです！<br>
            アコギはちょっと違う、手入れが面倒な人はこっち！<br>
            最終目標はストリートピアノ演奏？
          </div>
        </li>
      </ul>
    </div>
  </div>
  <%# 結果08 %>
  <div id="ans08" class="kekka08" style="background-color: #d2f9fa">
    <div class="kekkabox">
      <div class="kekka_ttl">
        <div id="kekka">
          <span id="kekka_ossm">おすすめの趣味は…</span>
          <span id="kekka_hobby">ゲーム</span>
        </div>
      </div>
      <div class="kekka_inq">
        オススメのゲームジャンルはこちら！
      </div>
      
      <ul class="kekka_listbox">
        <li class="kekka_list">
          <%= image_tag "img_0801_boardgame.png", class:"kekka_img"%>
          <div class="kekka_text">
            仲間を集めてボードゲームおすすめです！<br>
            簡単で盛り上がるものや<br>
            深い戦術や熱い読み合いができるも多種多様です！
          </div>
        </li>
        <li class="kekka_list">
          <%= image_tag "img_0802_videogame.png", class:"kekka_img"%>
          <div class="kekka_text">
            TVゲームもおすすめです！<br>
            マイペースで遊ぶことができます！<br>
            仲間と協力して遊ぶものも全然アリ！
          </div>
        </li>
      </ul>
    </div>
  </div>
  <%# 結果09 %>
  <div id="ans09" class="kekka09" style="background-color: #fccdc5">
    <div class="kekkabox">
      <div class="kekka_ttl">
        <div id="kekka">
          <span id="kekka_ossm">おすすめの趣味は…</span>
          <span id="kekka_hobby">工作</span>
        </div>
      </div>
      <div class="kekka_inq">
        オススメの工作ジャンルはこちら！
      </div>
      
      <ul class="kekka_listbox">
        <li class="kekka_list">
          <%= image_tag "img_0901_diy.png", class:"kekka_img"%>
          <div class="kekka_text">
            DIY初めてみませんか？<br>
            役立つもの、家具など作れます！<br>
            自分に合ったモノ作成してみては？
          </div>
        </li>
        <li class="kekka_list">
          <%= image_tag "img_0902_shugei.png", class:"kekka_img"%>
          <div class="kekka_text">
            重めな工具に抵抗ある人は手芸！<br>
            多種多様なアクセサーリーが作れます！<br>
            作ってフリマアプリに販売も？
          </div>
        </li>
      </ul>
    </div>
  </div>
  <%# 結果10 %>
  <div id="ans10" class="kekka10" style="background-color: #d0ffc7">
    <div class="kekkabox">
      <div class="kekka_ttl">
        <div id="kekka">
          <span id="kekka_ossm">おすすめの趣味は…</span>
          <span id="kekka_hobby">園芸</span>
        </div>
      </div>
      <div class="kekka_inq">
        オススメのジャンルはこちら！
      </div>
      
      <ul class="kekka_listbox">
        <li class="kekka_list">
          <%= image_tag "img_1001_gardening.png", class:"kekka_img"%>
          <div class="kekka_text">
            ガーデニングはどうでしょうか？<br>
            好きな植物で庭やベランダを彩ったり<br>
            部屋のどこかに観葉植物置いてみては？
          </div>
        </li>
        <li class="kekka_list">
          <%= image_tag "img_1002_kateisaien.png", class:"kekka_img"%>
          <div class="kekka_text">
            花より団子なあなたは栽培をしてみましょう！<br>
            好きな野菜を育てて食べてみましょう！<br>
            料理という別の趣味に繋がるかも？
          </div>
        </li>
      </ul>
    </div>
  </div>
  <%# 結果 11 %>
  <div id="ans11" class="kekka11" style="background-color: #fcdce4">
    <div class="kekkabox">
      <div class="kekka_ttl">
        <div id="kekka">
          <span id="kekka_ossm">おすすめの趣味は…</span>
          <span id="kekka_hobby">運動</span>
        </div>
      </div>
      <div class="kekka_inq">
        オススメの運動スタイルはこちら！
      </div>
      
      <ul class="kekka_listbox">
        <li class="kekka_list">
          <%= image_tag "img_1101_running.png", class:"kekka_img"%>
          <div class="kekka_text">
            ランニンングがおすすめです！<br>
            脂肪燃焼、免疫機能、メンタルなどを改善します<br>
            有酸素で体をいい形に保ちましょう！
          </div>
        </li>
        <li class="kekka_list">
          <%= image_tag "img_1102_kintore.png", class:"kekka_img"%>
          <div class="kekka_text">
            筋肉を増やしたい人はジムに行きましょう<br>
            姿勢、冷え性、基礎代謝などを改善します<br>
            男女共におすすめです！
          </div>
        </li>
      </ul>
    </div>
  </div>
  <%# 結果12 %>
  <div id="ans12" class="kekka12" style="background-color: #dcfcf2">
    <div class="kekkabox">
      <div class="kekka_ttl">
        <div id="kekka">
          <span id="kekka_ossm">おすすめの趣味は…</span>
          <span id="kekka_hobby">ドライブ</span>
        </div>
      </div>
      <div class="kekka_inq">
        オススメの乗り物はこちら！
      </div>
      
      <ul class="kekka_listbox">
        <li class="kekka_list">
          <%= image_tag "img_1201_drive.png", class:"kekka_img"%>
          <div class="kekka_text">
            車がやっぱり安定！<br>
            様々なサービスエリア、景色を回ってみては？<br>
            友人を乗せていったら盛り上がるかも！
          </div>
        </li>
        <li class="kekka_list">
          <%= image_tag "img_1202_bike.png", class:"kekka_img"%>
          <div class="kekka_text">
            バイクもおすすめです！<br>
            車にはない爽快感、景色の見え方があります！<br>
            ロードバイク(自転車)もあり！
          </div>
        </li>
      </ul>
    </div>
  </div>
  <%# 結果13 %>
  <div id="ans13" class="kekka13" style="background-color: #f2fcdc">
    <div class="kekkabox">
      <div class="kekka_ttl">
        <div id="kekka">
          <span id="kekka_ossm">おすすめの趣味は…</span>
          <span id="kekka_hobby">キャンプ</span>
        </div>
      </div>
      <div class="kekka_inq">
        オススメのキャンプリストはこちら！
      </div>
      <ul class="kekka_listbox">
        <li class="kekka_list">
          <%= image_tag "img_1301_camphangou.png", class:"kekka_img"%>
          <div class="kekka_text">
            デイキャンプやってみませんか？<br>
            日帰りで火起こし、BBQなどを楽しむキャンプです！<br>
            初心者にとてもおすすめです！
          </div>
        </li>
        <li class="kekka_list">
          <%= image_tag "img_1302_gramping.png", class:"kekka_img"%>
          <div class="kekka_text">
            グランピングもおすすめです！<br>
            常設テントが用意され、家具も揃っています<br>
            持ち物少なめでキャンプを楽しめます！
          </div>
        </li>
      </ul>
    </div>
  </div>
  <%# 結果14 %>
  <div id="ans14" class="kekka14" style="background-color: #f7e0da">
    <div class="kekkabox">
      <div class="kekka_ttl">
        <div id="kekka">
          <span id="kekka_ossm">おすすめの趣味は…</span>
          <span id="kekka_hobby">グルメ</span>
        </div>
      </div>
      <div class="kekka_inq">
        オススメのやり方はこちら！
      </div>
      
      <ul class="kekka_listbox">
        <li class="kekka_list">
          <%= image_tag "img_1401_tabearuki.png", class:"kekka_img"%>
          <div class="kekka_text">
            食べ歩きをしてみませんか？<br>
            食べ歩きスポットを探して行ってみよう！<br>
            ○○巡りもおすすめ！
          </div>
        </li>
        <li class="kekka_list">
          <%= image_tag "img_1402_restaurant.png", class:"kekka_img"%>
          <div class="kekka_text">
            店一点決めて行くのはどうでしょう？<br>
            予約必須なちょっと贅沢な店など<br>
            幸せな経験になるでしょう！
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>