<li class='list'>
<%# community_path(community.id) %>
  <%= link_to "#" do %>
    <div class='item-img-content'>
      <%= image_tag community.image, class: "item-img" %>
    </div>
  <% end %>
    <div class='item-info'>
      <h3 class='item-name'>
        コミュニティ名：<%= community.name %>
      </h3>
      <div class='community-category'>
        <span>カテゴリー：<%= community.category %></span>
      </div>
    </div>
    <ul class='community-list'>
        <li><%= link_to '入室', community_messages_path(community), class: "community-enter" %></li>
        <li><%= link_to '詳細', community_path(community), class: "community-show" %></li>
    </ul>
</li>