<li class='list'>
  <div class='community-content'>
    <div class='community-img-content'>
      <%= image_tag community.image, class: "community-img" %>
    </div>
    <div class='community-info'>
      <div class="community-name">
        <%= community.name %>
      </div>
      <div class="community-profile">
        <%= community.profile %>
      </div>
      <ul class='community-list'>
          <li><%= link_to '入室', community_messages_path(community), class: "community-enter" %></li>
          <li><%= link_to '詳細', community_path(community), class: "community-show" %></li>
      </ul>
    </div>
  </div>
</li>