<%# CSS・・・assets/stylesheets/header.css %>
<header class='top-page-header'>
  <h1 class='title'>Happy Hobby</h1>
  <div class='menu'>
    <ul class='lists-left'>
      <li><%= link_to '趣味診断', "#", class: "hobby" %></li>
    </ul>
    <ul class='lists-right'>
      <%# ログインの有無で表示変更%>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
        <li><%= link_to 'コミュニティ作成', new_community_path, class: "make-community" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>