<%# コミュニティの概要 %>
<div class="item-show">
  <div class='community-content'>
    <div class='community-img-content'>
      <%= image_tag @community.image, class: "community-img" %>
    </div>
    <div class='community-info'>
      <div class="community-name">
        <%= @community.name %>
      </div>
      <div class="community-profile">
        <%= @community.profile %>
      </div>
    </div>
  </div>
  <div class="request-box">
    <%= link_to 'コミュニティの編集', '#', method: :get, class: "item-red-btn" %>
    <%= link_to '削除', community_path(@community.id), method: :delete, class:'item-destroy' %>

    <%= link_to '所属する', community_requests_path(@community.id), method: :post, class:'community-request' %>
  </div>
</div>
